body {
  background: rgb(20, 58, 12);
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  height:30px;
  width: 150px;
  background: goldenrod;
  padding:5px;
  font-weight: bold;
  border:none;
  border-radius:2px;
  margin : 4px;
}

